@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;

}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;

}

h4{
    font-size: 20px;
    color: #222;

}

h6 {
    font-weight: 700;
    font-size: 12px;

}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0 ;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    background-color: #eff0f6;
}


/* Header Start */
#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
} 
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
list-style: none;
padding: 0 20px;
position: relative ;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: #088178; 
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home Page */
#hero{
    background-image:url("img/collage.jpg") ;
    height: 113vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
}
 
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow:row;
    
   
    
}
#feature .fe-box{
    width:282.3px ;
    text-align: center;
   
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.03);
    border: 2.1px solid #a0b4c4;
    border-radius: 4px;
    margin: 31.5px 0;
    transition: 1s;


}   

#feature .fe-box:hover{
    transform: scale(1.3);
    z-index: 2;
    box-shadow: 14px 14px 14px rgba(71, 16, 1, 0.1);
} 

#feature .fe-box img{
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #041413;
    background-color: #d93c5e;
}
#body {
    position: relative;
    margin: 0;
  }
  
  .logo {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 6px;
    left: 6px;
  }

  .col-4{

    flex-basis: 25%;
    
    padding: 10px;
    
    min-width: 200px; margin-bottom: 50px; }
    
    .col-4 img{ width: 100%;
    
    }

    .text-box{
        color: rgb(10, 31, 56);
        position: absolute;
        bottom:50%
    }
